/* General Font */
html, body, [class*="st-"] {
    font-family: 'Roboto', sans-serif;
}

/* Custom Metric Cards */
[data-testid="stMetric"] {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Custom Tabs */
.stTabs [data-baseweb="tab-list"] {
	gap: 24px;
}

.stTabs [data-baseweb="tab"] {
	height: 50px;
    white-space: pre-wrap;
	background-color: transparent;
	border-radius: 4px 4px 0px 0px;
	gap: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.stTabs [aria-selected="true"] {
    background-color: #FFFFFF;
}